<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         id="com.ais.forimplement.process.UpdateCost"
         name="com.ais.forimplement.process.UpdateCost"
         point="org.adempiere.base.Process">
         <process
                 class="com.ais.forimplement.process.UpdateCost">
         </process>        
   </extension>

</plugin>
